
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  background-color: black;
  font-family: monospace;
  color: limegreen;
}

#boot-logo {
  font-size: 1.5rem;
  color: limegreen;
  text-align: center;
  padding: 10px;
  animation: flicker 2s linear infinite;
}
#logo {
  text-align: center;
  font-size: 2em;
  padding: 20px 0 10px;
  color: #00ff99;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid #00ff99;
  background-color: #000000;
}

.symbol {
  font-weight: bold;
  font-size: 2.5rem;
  margin-right: 10px;
}

@keyframes flicker {
  0%   {{ opacity: 1; }}
  50%  {{ opacity: 0.5; }}
  100% {{ opacity: 1; }}
}

#terminal {
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 20px;
  white-space: pre-wrap;
}

/* Scrollbar Styling */
#terminal::-webkit-scrollbar {
  width: 10px;
}
#terminal::-webkit-scrollbar-track {
  background: #111;
}
#terminal::-webkit-scrollbar-thumb {
  background: limegreen;
  border-radius: 5px;
}
#terminal::-webkit-scrollbar-thumb:hover {
  background: #aaffaa;
}

